<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/ -->
<h1>HomePage</h1>
<p>This is the frontend to the database for TravelNet application.</p>
<p>Click on links below to go to different tables!</p>

<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/friendships">Friendships</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/posts-friendships">Posts_has_Friendships</a></li>
</ul>
