<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/ -->
<h1>HomePage</h1>
<p>This is the frontend to the database for TravelNet application.</p>
<p>Click on links below to go to different tables!</p>
<table>
    <thead>
        <tr>
            <th>Links</th>
            <th>Descriptions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/users">Users</a></td>
            <td>Records the details of Users of the app.</td>
        </tr>
        <tr>
            <td><a href="/friendships">Friendships</a></td>
            <td>Records the friendship between two Users.</td>
        </tr>
        <tr>
            <td><a href="/posts">Posts</a></td>
            <td>Records the details of a Post made by a User.</td>
        </tr>
        <tr>
            <td><a href="/locations">Locations</a></td>
            <td>Records the details of a Location.</td>
        </tr>
        <tr>
            <td><a href="/posts-friendships">Posts_has_Friendships</a></td>
            <td>Records each time a User is mentioned by another User in a Post.</td>
        </tr>
    </tbody>
</table>
