<h1>Posts</h1>

{{> navbar }}

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th>Edit</th>
    <th>Delete</th>
    <th>Post ID</th>
    <th>Content</th>
    <th>Access</th>
    <th>User Name</th>
    <th>Friends Mentioned</th>
    <th>Location Pinned </th>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >1</td>
    <td >I love the city! </td>
    <td >Public</td>
    <td>mary563</td>
    <td>toub8294, pwune0921</td>
    <td>57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >2</td>
    <td > I like the place! Look at it!!!</td>
    <td>Public to friends</td>
    <td>mary563</td>
    <td>pwune0921</td>
    <td>NULL</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >3</td>
    <td > Don't come! It's not worth the time!</td>
    <td >Private</td>
    <td>jimmyt801</td>
    <td>NULL</td>
    <td>57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >4</td>
    <td >Great park!</td>
    <td >Public</td>
    <td>toub8294</td>
    <td>NULL</td>
    <td>9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >5</td>
    <td > Wow!!!!!</td>
    <td >Public to friends</td>
    <td>jimmyt801</td>
    <td>NULL</td>
    <td>Kpg Connor no 96, Apt 119 Batu DKI Jakarta 11840 Indonesia</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addPost">
        <legend><strong>Add A Post</strong></legend>
          <fieldset class="fields">
            <div>
              <label> User Name </label> 
              <select name="user">
            	<option value="" selected>--Please select--</option>
                <option value="1">mary563</option>
                <option value="2">toub8294</option>
                <option value="3">pwune0921</option>
                <option value="3">jimmyt801</option>
              </select>
            </div>
            <div>
              <label>Content</label> 
              <textarea name="content"></textarea>
            </div>
            <div>
              <label>Access</label>
              <select name="access">
                <option value="" selected>--Please select--</option>
                <option value="Public">Public</option>
                <option value="Public to friends">Public to friends</option>
                <option value="Private">Private</option>
              </select>
            </div>
            <div>
            <label> Location </label> 
              <select name="location">
            	  <option value="" selected>--Please select--</option>
                <option value="1">57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</option>
                <option value="2">9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</option>
              </select>
            </div>
      </fieldset>
          <input class="btn" type="submit" id="addPost" value="Add Post">
          <input class="btn" type="button" value="cancel" onClick="browsePosts()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdatePost">
        <legend><strong>Update A Post</strong></legend>
          <fieldset class="fields">
            <input type="hidden" name="Post_id" id="updatePostID" value="1">
            <label> ID: </label> 1
          <label> Post Content </label> <textarea name="content" value="I love the city!"></textarea>
          <label>Access</label>
            <select name="access">
              <option value="Public" selected>Public</option>
              <option value="Public to friends">Public to friends</option>
              <option value="Private">Private</option>
              </select>
          <label> User Name </label> <select name="user">
            	<option value="0">&nbsp;</option>
                <option value="1" selected>mary563</option>
                <option value="2">toub8294</option>
                <option value="3">pwune0921</option>
                <option value="3">jimmyt801</option>
                </select>
             <label> Location </label> <select name="location">
            	<option value="0" selected>NULL</option>
                <option value="1">57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</option>
                <option value="2">9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</option>
                </select>

              <p></p>
            <div>
            <label for="friends-mentioned">Which friends are mentioned in this post?</label>

            <select name="friends-mentioned" id="friends-mentioned" multiple>
            <option value="2">toub8294</option>
            <option value="3">pwune0921</option>
            </select>
            </div>
            <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          </fieldset>
          <input class="btn" type="submit" id="UpdateSavePost" value="Save Update Post">
          <input class="btn" type="button" value="cancel" onClick="browsePosts()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="POST" id="deletePost">
      <legend><strong>Delete A Post</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="personID" id="deletePostID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>Post Content: </strong> </label> I love the city!
            <label> <strong>User Name: </strong> </label> mary563
        </fieldset>
    <input class="btn" type="submit" id="DeletePost" value="Delete Post">
    <input class="btn" type="button" value="cancel" onClick="browsePosts()">
  </form> 
</div><!-- delete -->

</body>
</html>
