<!DOCTYPE html>
<html>
<head>
<title>Posts</title>
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newPost() { showform('insert'); }
    function updatePost(pid) { showform('update'); }
    function deletePost(pid) { showform ('delete'); }
    function browsePosts() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="browsePosts()">
<h1>Posts</h1>

[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th>Edit</th>
    <th>Delete</th>
    <th>Post ID</th>
    <th>Content</th>
    <th>Access</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Friends Mentioned</th>
    <th>Location ID </th>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >1</td>
    <td >I love the city! </td>
    <td align="right" >Public</td>
    <td>1</td>
    <td>mary563</td>
    <td>toub8294, pwune0921</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >2</td>
    <td > I like the place! Look at it!!!</td>
    <td align="right" >Public to friends</td>
    <td>1</td>
    <td>mary563</td>
    <td>pwune0921</td>
    <td>NULL</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >3</td>
    <td > Don't come! It's not worth the time!</td>
    <td align="right" >Private</td>
    <td>4</td>
    <td>jimmyt801</td>
    <td>NULL</td>
    <td>1</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >4</td>
    <td >Great park!</td>
    <td align="right" >Public</td>
    <td>2</td>
    <td>toub8294</td>
    <td>NULL</td>
    <td>2</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updatePost('this.PostID')">Edit</a></td>
    <td><a href="#" onclick="deletePost('this.PostID')">Delete</a></td>
    <td align="right" >5</td>
    <td > Wow!!!!!</td>
    <td align="right" >Public to friends</td>
    <td>4</td>
    <td>jimmyt801</td>
    <td>NULL</td>
    <td>3</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addPost">
        <legend><strong>Add Post</strong></legend>
          <fieldset class="fields">
            <label>Content</label> <textarea name="content"></textarea>
            <label>Access</label>
            <select name="access">
              <option value="Public" selected>Public</option>
              <option value="Public to friends">Public to friends</option>
              <option value="Private">Private</option>
            </select>
            <label> User Name </label> <select name="user">
            	<option value="0">&nbsp;</option>
                <option value="1" selected>mary563</option>
                <option value="2">toub8294</option>
                <option value="3">pwune0921</option>
                <option value="3">jimmyt801</option>
                </select>
            <label> Location </label> <select name="location">
            	<option value="0">&nbsp;</option>
                <option value="1" selected>57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</option>
                <option value="2">9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</option>
                </select>
            <p></p>
            <div>
            <label for="friends-mentioned">Which friends are mentioned in this post?</label>

            <select name="friends-mentioned" id="friends-mentioned" multiple>
            <option value="2">toub8294</option>
            <option value="3">pwune0921</option>
            </select>
            </div>
            <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
      </fieldset>
          <input class="btn" type="submit" id="addPost" value="Add Post">
          <input class="btn" type="button" value="cancel" onClick="browsePosts()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdatePost">
        <legend><strong>Update Post</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="Post_id" id="updatePostID" value="1">
          <label> ID: </label> 1
          <label> Post Content </label> <textarea name="content" value="I love the city!"></textarea>
          <label>Access</label>
            <select name="access">
              <option value="Public" selected>Public</option>
              <option value="Public to friends">Public to friends</option>
              <option value="Private">Private</option>
              </select>
          <label> User Name </label> <select name="user">
            	<option value="0">&nbsp;</option>
                <option value="1" selected>mary563</option>
                <option value="2">toub8294</option>
                <option value="3">pwune0921</option>
                <option value="3">jimmyt801</option>
                </select>
             <label> Location </label> <select name="location">
            	<option value="0" selected>NULL</option>
                <option value="1">57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</option>
                <option value="2">9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</option>
                </select>

              <p></p>
            <div>
            <label for="friends-mentioned">Which friends are mentioned in this post?</label>

            <select name="friends-mentioned" id="friends-mentioned" multiple>
            <option value="2">toub8294</option>
            <option value="3">pwune0921</option>
            </select>
            </div>
            <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          </fieldset>
          <input class="btn" type="submit" id="UpdateSavePost" value="Save Update Post">
          <input class="btn" type="button" value="cancel" onClick="browsePosts()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="POST" id="deletePost">
      <legend><strong>Delete Post</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="personID" id="deletePostID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>Post Content: </strong> </label> I love the city!
            <label> <strong>User Name: </strong> </label> mary563
        </fieldset>
    <input class="btn" type="submit" id="DeletePost" value="Delete Post">
    <input class="btn" type="button" value="cancel" onClick="browsePosts()">
  </form> 
</div><!-- delete -->

</body>
</html>
