<!DOCTYPE html>
<html>
<head>
<title>Users</title>
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newUser() { showform('insert'); }
    function updateUser(pid) { showform('update'); }
    function deleteUser(pid) { showform ('delete'); }
    function browseUsers() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="browseUsers()">
<h1>Users</h1>

[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th>Edit</th>
    <th>Delete</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateUser('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteUser('this.UserID')">Delete</a></td>
    <td align="right" >1</td>
    <td >mary563</td>
    <td align="right" >mary563@gmail.com</td>
    <td>1937@#fadf</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateUser('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteUser('this.UserID')">Delete</a></td>
    <td align="right" >2</td>
    <td>toub8294</td>
    <td align="right" >toub8294@gmail.com</td>
    <td >hfkd0)jf!</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateUser('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteUser('this.UserID')">Delete</a></td>
    <td align="right" >3</td>
    <td>pwune0921</td>
    <td align="right" >pwune0921@gmail.com</td>
    <td>9384**&fafd</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateUser('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteUser('this.UserID')">Delete</a></td>
    <td align="right" >4</td>
    <td>jimmyt801</td>
    <td align="right" >jimmyt801@outlook.com</td>
    <td>8394*fhfkd</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addUser">
        <legend><strong>Add A User</strong></legend>
          <fieldset class="fields">
            <label> user name </label> <input type="text" name="user_name">
            <label> email </label> <input type="text" name="email">
            <label> password </label> <input type="text" name="password">
      </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add User">
          <input class="btn" type="button" value="cancel" onClick="browseUsers()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateUser">
        <legend><strong>Update A User</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="user_id" id="updateUserID" value="1">
          <label> ID: </label> 1
          <label> user name</label> <input type="text" name="user_name" value="mary563">
            <label> email </label> <input type="text" name="email" value="mary563@gmail.com">
            <label> password </label> <input type="text" name="password" value="1937@#fadf">
          </fieldset>
          <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
          <input class="btn" type="button" value="cancel" onClick="browseUsers()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="POST" id="deleteUser">
      <legend><strong>Delete A User</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="personID" id="deleteUserID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>User Name: </strong> </label> mary563
        </fieldset>
    <input class="btn" type="submit" id="DeleteUser" value="Delete User">
    <input class="btn" type="button" value="cancel" onClick="browseUsers()">
  </form> 
</div><!-- delete -->

</body>
</html>
