/*body {background-color: #e8c382;}

a {font-size: 1.5em; color: darkgreen;}*/

form div {
    padding: 1vh;
}

label {display: block; font-weight: bold;}

td, th, table {
    border: 1px solid gray;
    padding: 5px;
}

span {color: red;}